.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
  margin-top: 1%;
}

.mat-header-cell {
  color: white !important;
  background-color: #2970db;
}

.edtable{
  width: 80%;
  margin-left: 10%;
}

.doc{
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-align: center;
}