.login-form-content {
    position: absolute;
    top: 30%;
    left: 50%;
    //margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 250px;
    min-height: 50vh;
}

.login-banner {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center center;
    background-attachment: fixed;
    opacity: 0.6;
}

.login-wrapper {
    background: #fff;
    padding: 20px;
    position: absolute;
    width: 250px;
    box-shadow: 2px 5px 15px 0px #04234a;
}


.field-wrapper {
    margin-top: 10px;
}

label {
    padding: 0px;
    font-size: 14px;
}

.login-wrapper .btn-custom {
    width: 45%;
}

.head {
    color: #04234a;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}

.example-full-width {
    width: 100%;
}

.logo-warapper {
    padding: 20px 20px 30px;
    text-align: center;
}

.logo-warapper img {
    height: 75px;
}

.field-wrapper {
    margin-top: 10px;
}

.body {
    background-color: aqua !important;

}